homeworks/*
lecture_code/lecture3/era_interim_eke_nh.mat
lecture_code/lecture7/b.e11.B20TRC5CNBDRD.f09_g16.003.cam.h0.PSL.192001-200512.nc
lecture_code/lecture7/BEST-1950-2018-monthlyTemp.nc
labs/lab3/HadISST_sst.nc
.venv/*
additional_analyses/*
labs/lab5/CESM1_LENS_Coupled_Control.cvdp_data.401-2200.nc
labs/lab6/SOM_Output_n3_p10000_lr0.3.pickle
labs/lab6/SOM_Output_n4_p10000_lr0.3.pickle