homeworks/*
lecture_code/lecture3/era_interim_eke_nh.mat
lecture_code/lecture7/b.e11.B20TRC5CNBDRD.f09_g16.003.cam.h0.PSL.192001-200512.nc
lecture_code/lecture7/BEST-1950-2018-monthlyTemp.nc
labs/lab3/HadISST_sst.nc